@keyframes five-s-hide {
    0% { display: block; }
    80% { display: block; }
    100% { display: none; }
}

@keyframes five-s-show {
    0% { display: none; }
    80% { display: none; }
    100% { display: block; }
}

.swap-child *:nth-child(1) {
    animation: five-s-hide 5s linear 0s 1 normal forwards;
}
.swap-child *:nth-child(2) {
    display: none;
    animation: five-s-show 5s linear 0s 1 normal forwards;
}